<%= javascript_include_tag 'accordion.js' %>

<div class="container">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="wrapper">
      <div class="accordion_wrapper">
        <div class="accordion_title">困りごとの内容</div>
        <div class="accordion_content">
          <ul class="post_items">
            <li><i class="fa fa-paw fa-fw"></i>どんなことに困っていますか？</li>
            <p><%= simple_format(h(@post.content), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% if @post.optional_content.present? %>
              <li><i class="fa fa-paw fa-fw"></i>理想の状態を10点とすると、今の状態は何点ですか？理由もかんたんに記入してください</li>
              <p><%= simple_format(h(@post.optional_content), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
            <% if @post.optional_content_2.present? %>
              <li><i class="fa fa-paw fa-fw"></i>どのような状態になれば、理想の状態（10点）であると言えますか？</li>
              <p><%= simple_format(h(@post.optional_content_2), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
            <% if @post.optional_content_3.present? %>
              <li><i class="fa fa-paw fa-fw"></i>1つ点数を上げるために、今あなたにできることはありますか？</li>
              <p><%= simple_format(h(@post.optional_content_3), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
            <% if @post.optional_content_4.present? %>
              <li><i class="fa fa-paw fa-fw"></i>それをいつまでにしますか？</li>
              <p><%= simple_format(h(@post.optional_content_4), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="accordion_wrapper">
        <div class="accordion_title">進捗の内容</div>
        <div class="accordion_content_open">
          <ul class="progress_items">
            <li><i class="fa fa-paw fa-fw"></i>前回の投稿から、何か変わったことがあれば教えてください（特にない場合は「なし」でかまいません）</li>
            <p><%= simple_format(h(@progress.content), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <li><i class="fa fa-paw fa-fw"></i>前回の投稿から、心境の変化があれば教えてください（特にない場合は「なし」でかまいません）</li>
            <p><%= simple_format(h(@progress.content_2), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% if @progress.optional_content.present? %>
              <li><i class="fa fa-paw fa-fw"></i>理想の状態を10点とすると、今の状態は何点ですか？理由もかんたんに記入してください</li>
              <p><%= simple_format(h(@progress.optional_content), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
            <% if @progress.optional_content_2.present? %>
              <li><i class="fa fa-paw fa-fw"></i>1つ点数を上げるために、今あなたにできることはありますか？</li>
              <p><%= simple_format(h(@progress.optional_content_2), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
            <% if @progress.optional_content_3.present? %>
              <li><i class="fa fa-paw fa-fw"></i>それをいつまでにしますか？</li>
              <p><%= simple_format(h(@progress.optional_content_3), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="reaction_buttons">
      <%= render 'sounandas/sounanda' %>
      <%= render 'erais/erai' %>
      <%= render 'teinei2s/teinei2' %>
      <%= render 'ouen2s/ouen2' %>
    </div>

    <div class="manage_buttons">
      <% if @user == current_user %>
        <%= link_to '編集', edit_post_progress_path, class: 'btn btn-primary edit_button' %>
        <%= link_to '削除', post_progress_path, method: :delete, data: {confirm: 'この進捗を削除します。よろしいですか？'}, class: 'btn btn-danger delete_button' %>
      <% end %>
    </div>
  </div>
</div>
</div>