<h1>進捗詳細</h1>

<script>
  $(function(){
    $('.accordion_title').on('click', function () {
      $(this).next().slideToggle(400);
      $(this).toggleClass('open', 400);
    });
  });
</script>

<div class="row">
<div class="col-md-8 offset-md-2">
<div class="wrapper">
  <div class="accordion_wrapper">
    <div class="accordion_title">困りごとの内容</div>
    <ul class="accordion_content">
      <li><i class="fa fa-paw fa-fw"></i>どんなことに困っていますか？</p>
      <p><%= simple_format(h(@post.content), {}, sanitize: false, wrapper_tag: 'div') %></p>
      <% if @post.optional_content.present? %>
        <li><i class="fa fa-paw fa-fw"></i>困りごとのきっかけは何でしたか？</p>
        <p><%= simple_format(h(@post.optional_content), {}, sanitize: false, wrapper_tag: 'div') %></p>
      <% end %>
      <% if @post.optional_content_2.present? %>
        <li><i class="fa fa-paw fa-fw"></i>困りごとはどのような状況で発生しますか？</p>
        <p><%= simple_format(h(@post.optional_content_2), {}, sanitize: false, wrapper_tag: 'div') %></p>
      <% end %>
      <% if @post.optional_content_3.present? %>
        <li><i class="fa fa-paw fa-fw"></i>どうなればうれしいですか？</p>
        <p><%= simple_format(h(@post.optional_content_3), {}, sanitize: false, wrapper_tag: 'div') %></p>
      <% end %>
      <% if @post.optional_content_4.present? %>
        <li><i class="fa fa-paw fa-fw"></i>よくしていくために、これからどうしますか？</p>
        <p><%= simple_format(h(@post.optional_content_4), {}, sanitize: false, wrapper_tag: 'div') %></p>
      <% end %>
    </ul>
  </div>

  <p><i class="fa fa-paw fa-fw"></i>その後はいかがですか？</p>
  <p><%= simple_format(h(@progress.content), {}, sanitize: false, wrapper_tag: 'div') %></p>
  <% if @progress.optional_content.present? %>
    <p><i class="fa fa-paw fa-fw"></i>前回から今回の投稿までの間に、してよかったことはありますか？</p>
    <p><%= simple_format(h(@progress.optional_content), {}, sanitize: false, wrapper_tag: 'div') %></p>
  <% end %>
  <% if @progress.optional_content_2.present? %>
    <p><i class="fa fa-paw fa-fw"></i>前回から心境の変化はありますか？</p>
    <p><%= simple_format(h(@progress.optional_content_2), {}, sanitize: false, wrapper_tag: 'div') %></p>
  <% end %>
</div>

<div class="buttons">
  <%= render 'sounandas/sounanda' %>
  <%= render 'erais/erai' %>
  <%= render 'teinei2s/teinei2' %>
  <%= render 'ouen2s/ouen2' %>
</div>

<% if @user == current_user %>
  <%= link_to '編集', edit_post_progress_path, class: 'btn btn-primary mr-3' %>
  <%= link_to '削除', post_progress_path, method: :delete, data: {confirm: 'この進捗を削除します。よろしいですか？'}, class: 'btn btn-danger' %>
<% end %>
</div>
</div>
