<% visitor = User.find_by(id: notification.visitor_id) %>
<% visited = User.find_by(id: notification.visited_id) %>
<div class="form-inline">
  <div>
    <%= link_to user_path(visitor) do %>
      <%= image_tag visitor.image, class: 'user_icon' %>
      <%= visitor.name %>
    <% end %>
    さんが

    <% case notification.action %>
    <% when 'like' then %>
      この投稿にそうなんだと言っています
      <p><%= link_to notification.post.content, notification.post %></p>
    <% when 'wakaru' then %>
      この投稿にわかると言っています
      <p><%= link_to notification.post.content, notification.post %></p>
    <% when 'teinei' then %>
      この投稿を見て、ていねいな文章だと感じています
      <p><%= link_to notification.post.content, notification.post %></p>
    <% when 'ouen' then %>
      この投稿におうえんをしてくれています
      <p><%= link_to notification.post.content, notification.post %></p>
    <% when 'erai' then %>
      この進捗にえらいと言っています
      <p><%= link_to notification.progress.content, notification.post %></p>
    <% when 'sounanda' then %>
      この進捗にそうなんだと言っています
      <p><%= link_to notification.progress.content, notification.post %></p>
    <% when 'teinei2' then %>
      この進捗を見て、ていねいな文章だと感じています
      <p><%= link_to notification.progress.content, notification.post %></p>
    <% when 'ouen2' then %>
      この進捗におうえんをしてくれています
      <p><%= link_to notification.progress.content, notification.post %></p>
    <% end %>
  </div>
</div>
