<% visitor = User.find_by(id: notification.visitor_id) %>
<% visited = User.find_by(id: notification.visited_id) %>
<div class="col-md-6.mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
        <strong>
          <%= visitor.name %>
        </strong>
      <% end %>
      <%= 'さんが' %>

      <% case notification.action %>
      <% when 'like' then %>
        <%= 'この投稿にそうなんだをしました' %>
        <br>
        <%= link_to notification.post.content, notification.post %>
      <% when 'wakaru' then %>
        <%= 'この投稿にわかるをしました' %>
        <br>
        <%= link_to notification.post.content, notification.post %>
      <% when 'erai' then %>
        <%= 'この進捗にえらいをしました' %>
        <br>
        <%= link_to notification.progress.content, notification.post %>
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
</div>
