<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="user_field">
    <%= f.label :ニックネーム %>
    <%= f.text_field :name, class: 'form-control', id: 'user_name' %>

    <%= f.label :メールアドレス %>
    <%= f.email_field :email, class: 'form-control', id: 'user_email' %>

    <%= f.label :パスワード %>
    <%= f.password_field :password, class: 'form-control', id: 'user_password' %>

    <%= f.label :パスワード（確認用） %>
    <%= f.password_field :password_confirmation, class: 'form-control', id: 'user_password_confirmation' %>
  </div>
  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
<% end %>

<% unless logged_in? %>
  <%= render 'sessions/test_login' %>
<% end %>