<h1>自分の困りごと一覧</h1>

<div class="row">
  <aside class="col-md-4 offset-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.image, class: 'user_icon' %>
        <%= @user.name %>
      </h1>
      <span><%= pluralize(@posts.count, '回投稿しています') %></span>
    </section>
  </aside>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <% if @posts.any? %>
      <ul class="posts">
        <% @posts.each do |post| %>
          <li>
            <%= link_to post.content, post %>
            <span class="timestamp">
              <%= time_ago_in_words(post.created_at) %>前
            </span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>