<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>ステップ1</p>
  <div class="field">
    <%= f.text_area :content, class: 'form-control', id: 'post_content', placeholder: 'どんなことに困っていますか？' %>
  </div>
  <script>
    $(function(){
      $(".accordion-elements").hide();

      $(".accordion p").on("click", function() {
        $(this).next().slideToggle();
      });
    });
  </script>
  <div class="accordion">
    <p>ステップ2</p>
    <div class="accordion-elements">
      <div class="field">
        <%= f.label :困りごとのきっかけは何でしたか？ %>
        <%= f.text_area :content, class: 'form-control', id: 'post_content' %>
      </div>
      <div class="field">
        <%= f.label :困りごとはどのような状況で発生しますか？ %>
        <%= f.text_area :content, class: 'form-control', id: 'post_content' %>
      </div>
      <div class="field">
        <%= f.label :どうなればうれしいですか？ %>
        <%= f.text_area :content, class: 'form-control', id: 'post_content' %>
      </div>
      <div class="field">
        <%= f.label :今どのように感じていますか？ %>
        <%= f.text_area :content, class: 'form-control', id: 'post_content' %>
      </div>
    </div>
  </div>
  <div class="accordion">
    <p>ステップ3</p>
    <div class="accordion-elements">
      <div class="field">
        <%= f.label :よくしていくために、これからどうしますか？ %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
    </div>
  </div>

  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
<% end %>