<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <script>
    $(function(){
      $('.accordion_title').on('click', function () {
        $(this).next().slideToggle(400);
        $(this).toggleClass('open', 400);
      });
    });
  </script>
  <div class="wrapper">
    <div class="accordion_wrapper">
      <div class="accordion_title">必須項目</div>
      <div class="accordion_content_display">
        <div class="field">
          <i class="fa fa-paw fa-fw"></i><%= f.label :どんなことに困っていますか？%>
          <%= f.text_area :content, class: 'form-control', id: 'post_content' %>
        </div>
      </div>
    </div>
    <div class="accordion_wrapper">
      <div class="accordion_title">余裕があれば</div>
        <div class="accordion_content">
          <div class="field">
            <i class="fa fa-paw fa-fw"></i><%= f.label :どうなればうれしいですか？ %>
            <%= f.text_area :optional_content_1, class: 'form-control' %>
          </div>
          <div class="field">
            <i class="fa fa-paw fa-fw"></i><%= f.label :よくしていくために、今あなたにできることはありますか？ %>
            <%= f.text_area :optional_content_2, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  </div>
<% end %>