<ul class="posts">
  <% @posts.each do |post| %>
    <li id="post-<%= post.id %>" class="post">
      <%= image_tag post.user.image, class: 'user_icon' %>
      <span class="user"><%= link_to post.user.name, post.user %></span>
      <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %>前
      </span>
      <% if post.user == current_user %>
        <%= button_to 'その後の進捗を記録する', new_post_progress_path(post_id: post.id), method: :get, class: 'btn btn-outline-primary', id: 'progress_button' %>
      <% end %>
      <div class="row">
        <div class="col-md-11 offset-md-0">
          <ul class="post_items">
            <li><i class="fa fa-paw fa-fw"></i>どんなことに困っていますか？</li>
            <p><%= simple_format(h(post.content.truncate(140)), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% if post.optional_content.present? %>
              <li><i class="fa fa-paw fa-fw"></i>理想の状態を10点とすると、今の状態は何点ですか？理由もかんたんに記入してください</li>
              <p><%= simple_format(h(post.optional_content.truncate(140)), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
            <% if post.optional_content_2.present? %>
              <li><i class="fa fa-paw fa-fw"></i>どのような状態になれば、困りごとが解決された（10点になった）と言えますか？</li>
              <p><%= simple_format(h(post.optional_content_2.truncate(140)), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
            <% if post.optional_content_3.present? %>
              <li><i class="fa fa-paw fa-fw"></i>1つ点数を上げるために、今あなたにできることはありますか？</li>
              <p><%= simple_format(h(post.optional_content_3.truncate(140)), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
            <% if post.optional_content_4.present? %>
              <li><i class="fa fa-paw fa-fw"></i>それをいつまでにしますか？</li>
              <p><%= simple_format(h(post.optional_content_4.truncate(140)), {}, sanitize: false, wrapper_tag: 'div') %></p>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="buttons">
        <%= render 'wakarus/wakaru', post: post %>
        <%= render 'likes/like', post: post %>
        <%= render 'teineis/teinei', post: post %>
        <%= render 'ouens/ouen', post: post %>
      </div>
      <%= render 'progresses/progress', post: post %>
    </li>
  <% end %>
</ul>

<div class="row">
  <div class="col-md-8 offset-md-2" >
      <%= paginate @posts %>
  </div>
</div>