<ul class="posts">
  <% @posts.each do |post| %>
    <li id="post-<%= post.id %>">
      <%= link_to gravatar_for(post.user, size: 50), post.user %>
      <span class="user"><%= link_to post.user.name, post.user %></span>
      <%= link_to post.content, post %>
      <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %>前
      </span>
      <div id="like_button_<%= post.id %>">
        <%= render partial: 'likes/like', locals: { post: post, user: current_user } %>
      </div>
    </li>
  <% end %>
</ul>

<div class="mb-3">
  <%= paginate @posts %>
</div>