<ul class="posts">
  <% @posts.each do |post| %>
    <li id="post-<%= post.id %>">
      <%= image_tag post.user.image, class: 'user_icon' %>
      <span class="user"><%= link_to post.user.name, post.user %></span>
      <%= link_to post.content.truncate(140), post %>
      <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %>前
      </span>
      <%= render 'wakarus/wakaru', post: post %>
      <%= render 'likes/like', post: post %>
      <% if post.user == current_user %>
        <%= link_to 'その後の進捗を記録する', new_post_progress_path(post_id: post.id) %>
      <% end %>
      <%= render 'progresses/progress', post: post %>
    </li>
  <% end %>
</ul>

<div class="mb-3">
  <%= paginate @posts %>
</div>