<h1>投稿詳細</h1>

<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= Post.human_attribute_name(:content) %></th>
      <td><%= simple_format(h(@post.content), {}, sanitize: false, wrapper_tag: "div") %></td>
    </tr>
    <tr>
      <th><%= Post.human_attribute_name(:created_at) %></th>
      <td><%= @post.created_at %></td>
    </tr>
    <tr>
      <th><%= Post.human_attribute_name(:updated_at) %></th>
      <td><%= @post.updated_at %></td>
    </tr>
  </tbody>
</table>

<% if @post.optional_content.present? %>
  <%= @post.optional_content %>
<% end %>

<% if @post.optional_content_2.present? %>
  <%= @post.optional_content_2 %>
<% end %>

<% if @post.optional_content_3.present? %>
  <%= @post.optional_content_3 %>
<% end %>

<% if @post.optional_content_4.present? %>
  <%= @post.optional_content_4 %>
<% end %>

<%= render 'likes/like', post: @post %>

<% if @user == current_user %>
  <%= link_to '編集', edit_post_path, class: 'btn btn-primary mr-3' %>
  <%= link_to '削除', @post, method: :delete, data: {confirm: 'この投稿を削除します。よろしいですか？'}, class: 'btn btn-danger' %>
<% end %>

<% if @post.user == current_user %>
  <%= link_to 'その後の進捗を記録する', new_post_progress_path(post_id: @post.id) %>
<% end %>
<%= render 'progresses/progress', post: @post %>