<header class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="navbar-brand"><%= link_to '困りごとひろば', root_path %><i class="fa fa-paw fa-fw"></i></div>
    <% if logged_in? %>
      <li><%= link_to '困りごとを投稿', new_post_path %></li>
      <li><%= link_to 'みんなの困りごと', posts_path %></li>
      <li><%= link_to '自分の困りごと', current_user %></li>
      <li>
        <%= link_to(notifications_path) do %>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
            通知
          <% else %>
            通知
          <% end %>
        <% end %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          アカウント <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'プロフィール編集', edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
              <%= link_to 'ログアウト', logout_path, method: :delete %>
          </li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to 'ログイン', login_path %></li>
    <% end %>
  </div>
</header>